.user-list__wrapper {
    padding-top: 1.5rem;
}

.user-list__list {
    display: flex;
    margin: 0 -5px;
}

.user-list__item {
    max-width: 25%;
    padding: 0 5px;
}

.mat-body {
    font-size: 1rem;
}